/*
|
|   Folha de estilos para utilização no teste de avaliação de conhecimentos.
|
|   Pré processador: LESS
|   Para compilar: lessc style.less style.css
|
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Open Sans, Arial;
	margin: 0 auto;
	width: 100%;
}

#main {
	max-width: 1024px;
	margin: auto;
    display: grid;
    /*grid-template-rows: 20vh 10vh 55vh 20vh;*/
    grid-template-columns: 25% 75%;
    grid-template-areas: "header header" "nav nav" "content aside" "footer footer";
}

.mainHeader {
    grid-area: header;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.mainNav {
    grid-area: nav;
}

.mainContent {
    grid-area: content;
}

.mainAside {
    grid-area: aside;
}

.mainFooter {
    grid-area: footer;
}

.logo {
	height: 5em;
}

.topbar {
	width: 100%;
	background: black;
	height: 2em;
	text-align: right;
	overflow: visible;
	margin-left: 0;
}

.topbar label {
	color: white;
	margin-right: 20px;
}

.topbar a {
	color: white;
	text-decoration: underline;
}

.menu,
.btn-search {
	font-family: Open Sans Extrabold, Arial;
	background: #CC0D1F;
	color: white;
}

.menu {
	width: 100%;
	height: 52px;
	background-color: #CC0D1F;
}

.menu ul {
	list-style: none;
	position: relative;
}

.menu ul li {
	width: 10em;
	float: left;
	cursor: pointer;
}

.menu a:hover {
	background-color: #FFF;
	color:#CC0D1F;
}

.menu a {
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #CC0D1F;
	color: #fff;
}

label[for="btn_menu"] {
	padding: 5px;
	background-color: white;
	color: #FFF;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

#btn_menu, label[for="btn_menu"] {
	display: none;
}

.input-search {
	height: 35px;
	width: 400px;
}

.btn-search {
	height: 40px;
	margin-left: -5px;
	border: none;
	width: 100px;
	padding: 4px;
}

.div-search {
	margin-top: 25px;
}

.breadcrumb-lg, .breadcrumb-sm {
	background-color: white !important;
	padding: 15px;
}

.breadcrumb-sm {
	display: none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix::after, .clearfix::before {
	content: ' ';
	clear: both;
}

.item-breadcrumb,
#title_products {
	color: #CC0D1F;
}

.product {
	display:flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
}

.product > div {
	flex: 1 1 150px;
}

.panel-product {
	padding: 10px;
	text-align: center;
}

.panel-product img {
	max-width: 100%;
	border: solid 1px #ccc;
	height: 10em;
}

.panel-product button {
	background-color: #80BDB8;
	color: white;
	padding: 8px;
	width: 60%;
	border: solid 1px #80BDB8;
	border-radius: 5px;
}

.product-price {
	color: #CC0D1F;
	font-weight: bold;
}

.text-category {
	cursor: pointer;
	padding: 4px;
}

.text-category:hover {
	background-color: #ccc;
}

.icon-colors {
	display: inline-block;
	width: 45px;
	height: 25px;
	cursor: pointer;
}

.red {
	background-color: #CC0D1F;
}

.orange {
	background-color: #F36324;
}

.blue {
	background-color: #28A3AA;
}

.mainContent {
	padding: 10px;
	margin-right: 10px;
}

.content-filter {
	padding: 10px;
	border: solid 1px #ccc;
}

.content-filter ul {
	padding: 20px
}

.content-filter-title {
	color: #CC0D1F;
	font-weight: bold;
	font-size: 1.4em;
}
.content-filter-subtitle {
	color: #80BDB8;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 10px;
}

.mainAside {
	padding: 10px;
}

.content-aside {
	padding: 10px;
}

.content-aside-title {
	color: #CC0D1F;
	font-weight: normal;
	font-size: 1.5em;
	border-bottom: 1px solid #ccc;
}

.content-aside-order {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.btns-view, .content-aside-dropdown {
	display: inline-block;
}

.paginacao {
	text-align: center;
	margin: auto;
	letter-spacing: 15px;
	margin-bottom: 15px;
}
.arrow {
	color: #28A3AA;
	font-weight: bold;
}
.current-page {
	color: #CC0D1F;
	font-weight: bold;
}

.navbar-search {
	margin-right: 0;
	display: none;
}

.fa-search {
	color: #CC0D1F;
}

.logo-sm {
	display: none;
}

.footer {
	width: 100%;
	height: 9em;
	
	background: #CC0D1F;
	bottom: 10px;
}


/* BREAKPOINTS */ 

@media screen and (max-width: 320px) {
	#main {
        grid-template-areas: "nav" "content" "aside" "footer";
        grid-template-columns: 100%;
    }

    .mainNav {
    	display:flex;
    	max-height: 80px;
    	max-width: 500px;	
    }

	.mainNav > div {
		flex: 1 1 200px;
	}

    .header,
	.btns-view {
		display: none;
	}

	.navbar-search {
		display: block !important;
	}
	.menu * {
		background-color: white;
	}
	.fa-bars {
		color: black;
	}

	.logo-sm {
		display: block;
		height: 2em;
	}

	.logo-sm img {
		max-width: 200px;
	}

	.breadcrumb-sm {
		display: block;
	}

	.breadcrumb-lg {
		display: none;
	}	


	label[for="btn_menu"] {
		display: block;
	}

	.menu {
		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
	}

	.menu ul li {
		width: 100%;
		float: none;
	}

	.menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}

	#btn_menu:checked ~ .menu {
		margin-left: 0;
	}

	.menu ul li {
		width: 100%;
	}
}





@media screen and (max-width: 768px) {
	.menu {
		width: 100%;
		height: 50px;
		background-color: #CC0D1F;
	}

	.menu ul {
		list-style: none;
		position: relative;
	}

	.menu ul li {
		width: 8em;
		float: left;
		cursor: pointer;
	}

	.menu ul li:first-child {
		width: 12em;
	}

	.menu a:hover {
		background-color: #FFF;
		color:#CC0D1F;
	}

	.menu a {
		padding: 10px;
		display: block;
		text-decoration: none;
		text-align: center;
		background-color: #CC0D1F;
		color: #fff;
	}

	.navbar-search {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.navbar-search {
		display: none;
	}
}

@media screen and (max-width: 1440px) {
	.menu {
		background-color: #CC0D1F;
	}
	.topbar {
		background-color: black;
	}

	.navbar-search {
		display: none;
	}

	.mainNav, .btn-menu {
		max-width: 1440px !important
	}
}
